<header class="d-flex justify-content-around w-100 card-header">
  <div class="header-title">
    <h1 class=""><%= _("To-Do List") %></h1>
    <h1> <%= _("Car") %> </h1>
  </div>

   <div class="d-flex justify-content-center align-items-center w-25">

    <label class="I18n-dropdown d-flex flex-column">
      <input type="checkbox" class="checkbox">
      <ul class="I18n-dropdown-menu">
        <li><%= link_to 'English', root_path(locale: :en), class: "dropdown-item" %></li>
        <li><%= link_to 'Русский', root_path(locale: :ru), class: "dropdown-item" %></li>
        <li><%= link_to 'Deutch', root_path(locale: :de), class: "dropdown-item" %></li>
      </ul>
      <img src="https://static.vecteezy.com/system/resources/previews/001/198/064/non_2x/earth-png.png">
    </label>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary" %>
  </div>
</header>

<div class="card">
  <div class="add-todo-wrapper d-flex justify-content-center w-100">
    <%= form_for :item, url: items_path do |t|%>
      <%= t.text_field :todo %>
      <%= t.submit _("Add item"), class: "btn btn-outline-success add-todo"%>
    <% end %>
  </div>

  <div class="todo-list-wrapper">
    <% @todos.each do |item| %>
      <div class="todo-item d-flex flex-column justify-content-center">

        <div class="d-flex flex-row justify-content-between w-100">
          <h2><%= item.todo%></h2>

          <div class="d-flex w-10 justify-content-between">
            <div class='btn btn-secondary plus-item-btn' data-key=<%= item.id%>>+</div>
              <%= button_to "C", { controller: "items", action: "edit", id: item.id }, { class: 'btn btn-primary', method: "get" }%>
              <%= button_to "R", { controller: "items", action: "destroy", id: item.id }, { class: 'btn btn-success', method: "delete" }%>
          </div>
        </div>


        <div class="add-sub-form-wrapper" data-key=<%= item.id %>>
          <div class="add-sub-todo-wrapper d-flex justify-content-center w-100">
            <%= form_for :subitems, url: item_subitems_path(item), action: "create" do |t| %>
              <%= t.text_field :title %>
              <%= t.submit _("Add subitem"), class: "btn btn-outline-success add-todo" %>
            <% end %>
          </div>

          <div class="sub-items-wrapper d-flex flex-column">

            <% item.subitems.each do |subitem| %>
              <div class="d-flex justify-content-between w-75 sub-item">
                <h4> <%= subitem.title %> </h4>

                <div class="d-flex w-10 justify-content-between">
                  <%= button_to "C", edit_item_subitem_path(item.id, subitem), method: :get, class: "btn btn-primary" %>
                  <%= button_to "R", item_subitem_path(item.id, subitem),  method: :delete, class: "btn btn-success" %>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
